@charset "utf-8";
/* CSS Document */


body {
    margin:0px;
    padding:0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}
#main-wrapper {
    width:980px;
    margin:0px auto;
    min-height:450px;
}
hr {
    border-top:1px solid #e1e1e1;
    border-bottom:none;
    border-left:none;
    border-right:none;
}
hr.red {
    border-top:1px solid #c11b1d;
    border-bottom:none;
    border-left:none;
    border-right:none;
}
h2 {
    background:url(../images/heading-icon.png);
    background-repeat:no-repeat;
    background-position:left 2px;
    font-size:16px;
    padding-left:20px;
    font-weight:500;
    margin:0px;
    margin-bottom:6px;
}
h4 {
    font-size:22px;
    font-weight:500;
    margin:0px;
    margin-bottom:6px;
}
h5 {
    font-size:15px;
    font-weight:500;
    margin:0px;
    margin-bottom:6px;
}
h3 {
    font-size:32px;
    color:#c11b1d;
    margin:0px;
    padding:0px;
    margin-bottom:15px;
}
h6 {
    font-size:18px;
    color:#c11b1d;
    margin:10px 0px;
    padding:0px;
    font-weight:400;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}
.hilite {
    font-size:15px;
    color:#c11b1d;
}
.clearing {
    clear:both;
}
#navigation {
    background:url(../images/nav-bg.png);
    background-repeat:repeat-x;
    width:970px;
    height:43px;
    margin-top:5px;
}
#global-nav {
    margin:0px;
    padding:0px;
    list-style:none;
    color:#fff;
    font-size:14px;
    text-shadow:1px 1px 2px #444;
    font-weight: 400;
}
#global-nav li {
    float:left;
    /*border-right:1px solid #ab0e10; 
    border-left:1px solid #da7a7a; */
    background:url(../images/seperator.png);
    background-repeat:no-repeat;
    background-position:top right;
    display:block;
    padding:0px 15px; color:#fff; line-height:40px;
}


/*#global-nav li:link{

 }

 #global-nav li:visited{
                color:#fff;	
 }
*/
#global-nav li:hover {
    cursor:pointer;
    color:#fff;
    background:#9e0709 url(../images/seperator.png);
    background-repeat:no-repeat;
    background-position:top right;


}
/*#global-nav li:active{
        color:#fff;	
 }*/
#global-nav li.active {
    cursor:pointer;
    color:#fff;

    background:#9e0709 url(../images/seperator.png);
    background-repeat:no-repeat;
    background-position:top right;
}
#global-nav li a:link {
    color:#fff;
    text-decoration:none;
}
#global-nav li a:visited {
    color:#fff;
    text-decoration:none;
}
#global-nav li a:hover {
    color:#fff;
    text-decoration:none;
}
#global-nav li a:active {
    color:#fff;
    text-decoration:none;
}
#global-nav a:link {
    color:#fff;
    text-decoration:none;
}
#emailus{ height:30px;  overflow:hidden; background:url(../images/emailus.png); background-repeat:no-repeat; background-position:0px 0px; width:180px; }
#emailus:hover{ height:30px;  overflow:hidden; background:url(../images/emailus.png); background-repeat:no-repeat; background-position:0px -30px; width:180px;  cursor:pointer;}
.send{ height:30px;  overflow:hidden; background:url(../images/send-btn.png); background-repeat:no-repeat; background-position:0px 0px; width:69px; border: none;}
.send:hover{ height:30px;  overflow:hidden; background:url(../images/send-btn.png); background-repeat:no-repeat; background-position:0px -30px; width:69px; cursor:pointer; border: none;}
#calculate{ height:30px;  overflow:hidden; background:url(../images/calculate.jpg); background-repeat:no-repeat; background-position:0px 0px; width:72px; }
#calculate:hover{ height:30px;  overflow:hidden; background:url(../images/calculate.jpg); background-repeat:no-repeat; background-position:0px -30px; width:72px;  cursor:pointer;}

.flash-banner {
    margin:15px 0px 0px 0px;
    width:970px;
}
.video-box {
    width:290px;
    height:194px;
    float:left;
    /*border:1px solid #444; */margin:0px 6px;
    background: url(../images/video-shadow.png);
    background-position:left bottom;
    background-repeat:no-repeat;
    padding:0px 9px;
}
.video-border {
    width:140px;
    height:77px;
    border:1px solid #999; padding:2px;

}
.inner-video {
    border:1px solid #e1e1e1;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:white;
    padding:4px;
}
.inner-videobg {
    height:150px;
    padding:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: url(../images/video-bg.png);
    background-repeat:repeat-x;
    background-position:left bottom;
    font-size:11px;
}
.video-box01 {
    width:310px;
    height:194px;
    float:left;
    /*border:1px solid #444; */margin:0px 6px;

    padding:0px 9px;
}

.inner-video01 {
    /*border:1px solid #e1e1e1;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;*/
    background:white;
    padding:4px;
}
.inner-videobg01 {
    height:150px;
    padding:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    font-size:11px;
}
.inner-videobg td {
    color:#444;
    letter-spacing:0px;
    font-size:12px;
}
.inner-videobg:hover {
    height:150px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:#fff;
    cursor:pointer;
}
#left {
    float:left;
    width:205px;
    margin-top:60px;
    margin-right:25px;
}
#subnav {
    margin:40px 0px 0px 0px;
    list-style:none;
    padding:0px;
}
#subnav li {
    background:#fff;
    border-bottom:1px solid #c7c5c5;
    padding:5px;
    background-image:url(../images/subnav-li.png);
    background-repeat:no-repeat;
    background-position:left 8px;
    padding-left:15px;
    font-size:14px;
    color:#444;
}
#subnav li:hover {
    background:#c11b1d;
    color:#fff;
    background-image:url(../images/subnav-li-hover.png);
    background-repeat:no-repeat;
    background-position:left 8px;
    cursor:pointer;
}
#subnav li.active {
    background:#c11b1d;
    color:#fff;
    background-image:url(../images/subnav-li-hover.png);
    background-repeat:no-repeat;
    background-position:left 10px;
    cursor:pointer;
}
#subnav a:link {
    text-decoration:none;
    color:#444;
}
#right {
    float:left;
    width:740px;
    margin-top:20px;
}
.contact-bg {
    background:url(../images/contact-bg.png);
    background-repeat:no-repeat;
    background-position:left top;
    width:170px;
    height:265px;
    margin-top:15px;
    padding:15px;
}
.breadcrumbs {
    font-size:12px;
    color:#444;
    border-bottom:1px solid #c11b1d;
    padding-bottom:6px
}
.content {
    font-size:13px;
    line-height:20px;
    color:#444;
    text-align:justify; min-height:350px;
}
/*.content td {
    vertical-align:top;
}*/
#footer {
    border-top:1px solid #c11b1d;
    height:50px;
    margin-top:15px;
    font-size:12px;
    color:#444;
}

img {
    text-decoration: none;
    border: none;
    outline:none;
}
a:link {
    text-decoration: none;
    color:#444;
}
a:visited{
    text-decoration: none;
    color:#444;
}
a:hover {
    text-decoration: none;
    color:#444;
}
a:active {
    text-decoration: none;
    color:#444;
}
.form-table{font-size:14px; color:#444;}
.form-table input[type=text],[type=password]{
    font-size:14px; color:#444;
    /*width:325px;*/
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #999999;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #999999;
    border-radius:2px;
}

/*input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    border : none;
}*/

.form-table select{
    font-size:14px; color:#444;
    width:175px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #999999;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #999999;
    height:25px; border-radius:2px;
}
.form-table textarea{
    font-size:14px; color:#444;
    width:325px; height:70px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #999999;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #999999;
    border-radius:2px;
}
.form-table th{ padding:5px; text-align:right; font-weight:normal;}
.form-table td{ padding:5px; text-align:left; font-weight:normal; }
.form-table td.smalltxt{ padding:5px; text-align:left; font-weight:normal; font-size:12px; }
.form-table td.video-txt{ padding:5px; text-align:left; font-weight:normal; font-size:14px; vertical-align:top; }

.form-table input.blur {
    color:#808080;
    font-style: italic;
}

.form-table th.header { 
    text-align:left;
    font-weight:bold;
    background:url(../images/table-header.jpg);
    background-repeat:repeat-x;
    color:white;
}
.form-table td.smalltxt {   
    text-align:left;
    font-weight:normal;
    font-size:11px;
}
.form-table td.video-txt {  
    text-align:left;
    font-weight:normal;
    font-size:14px;
}

.video-heading{text-align:left; font-weight:bold; font-size:14px; vertical-align:top; color:#c11b1d; }

#sitemap { margin:0px; padding:0px; list-style:none; margin-left:20px;  margin-top:100px;
}
#sitemap li{ float:left; width:140px; font-weight:bold;}
#sitemap li a:hover{color:#c11b1d;}
#sub-sitemap{ margin-top:25px; list-style:square;  margin-left:0px; padding-left:0px; }
#sub-sitemap li{ margin:10px 0px; margin-left:0px; padding-left:0px; font-weight:normal;}
#sub-sitemap li a:hover{color:#c11b1d;}
.login{ text-align:right; font-size:12px; font-weight:bold; padding-top:5px; width:970px; color:#444;}

.login_btn{-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; padding:5px 14px; display:inline; background-color: #474747; font-weight: bold; color: #fff; cursor:pointer; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.login_btn:hover{background-color: #ba0a0c; }
.login_btn:active{background-color: #ba0a0c; color: #000; }

.wlc li{ margin-bottom:15px;}

.extra-small{
    width:35px; height:20px;
}
.small{

    width:100px; height:20px;

}
.large{

    width:325px; height:25px; 

}
.medium{

    width:240px; height:25px;

}

.register-btn{ width:147px; height:44px; background:url(../images/btn-registernow.png) no-repeat; overflow:hidden; background-position:0px 0px; border: none; }
.register-btn:hover{ width:147px; height:44px; background:url(../images/btn-registernow.png) no-repeat; overflow:hidden; background-position:0px -46px; cursor:pointer; border: none; }

.letsgo-btn{ height:36px;  overflow:hidden; background: url(../images/btn-letsgo.png); background-repeat:no-repeat; background-position:0px 0px; width:85px; border: none; }
.letsgo-btn:hover{ height:36px;  overflow:hidden; background:url(../images/btn-letsgo.png); background-repeat:no-repeat; background-position:0px -36px; width:85px;  cursor:pointer; border: none;}

#joinnow-btn{ height:38px;  overflow:hidden; background: url(../images/btn-joinnow.png);   background-repeat:no-repeat; background-position:0px 0px; width:110px; }
#joinnow-btn:hover{ height:38px;  overflow:hidden; background: url(../images/btn-joinnow.png); background-repeat:no-repeat; background-position:0px -36px; width:110px;  cursor:pointer;}

.style1 {
    color: #C11F1E;
    font-weight: bold;
}

.email-content{ padding:10px 20px; font-size:14px;}

.meal-plan{ font-family:Verdana, Arial, Helvetica, sans-serif;border:1px solid #ccc;}
.meal-plan tr{ border-bottom:1px solid #444;}
.meal-plan tr.alt-row{ border-bottom:1px solid #444; background:#F5F5F5;}
.meal-plan td{padding:5px; text-align:left; font-weight:normal; border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-size:12px; color:#444;}
.meal-plan th{  padding:5px;border-bottom:1px solid #ccc;font-weight:bold; text-align:left; font-size:12px;  border-right:1px solid #ccc; vertical-align:top; }
#meal-plan{ margin:0px; padding:0px; list-style:square;}

#meal-plan li{ margin:15px 0px 5px 40px; }
#meal-plan li:hover{ text-decoration:underline;}

.meal-plan th.header {
    padding:5px;
    text-align:left;
    font-weight:bold;
    background:url(../images/table-header.jpg);
    background-repeat:repeat-x;
    color:white;
}
#search-box-bg {
    width:250px;
    padding:5px;
    -webkitborder-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:1px solid #ccc;
    background: url(../images/video-bg.png);
    background-repeat:repeat-x;
    background-position:bottom left;
    float:left;
}
.search-txt-box {
    font-size:14px;
    color:#444;
    width:247px;
    height:20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #999999;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #999999;
    border-radius:2px;
}
#search-panel {
    font-size:12px;
    color:#444;
    padding:5px;
    margin-top:-6px;
}

.standard-button{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border:1px solid #c11b1d; padding:6px 10px; display:inline; background: #eeeeee url(../images/ui-bg_highlight-hard_100_eeeeee_1x100-btn.png) 50% 50% repeat-x; font-weight: bold; color: #fff; cursor:pointer; font-size:12px; font-family:Arial, Helvetica, sans-serif; letter-spacing:1px;}
.standard-button:hover{background: #eeeeee url(../images/ui-bg_highlight-hard_100_f6f6f6_1x100-btn.png) 50% 50% repeat-x; }
.standard-button:active{background: #eeeeee url(../images/ui-bg_highlight-hard_100_eeeeee_1x100-btn.png) 50% 50% repeat-x;  color: #000; }

.infomessages {
    font-size: 12px;
    color: black;
    padding: 5px;
}

.calendar{
    width: 66px;
    height: 56px;
    cursor: pointer;
    font-family:Arial;font-size:11px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;
    text-align: center;
    line-height: 18px;
}

.calendarHeader{
    background-image: url(../images/table-header.jpg);text-align: center;background-repeat: repeat-x;padding: 5px;color: white;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -border-radius:5px;
    margin-bottom: 5px;
}

.pbalLink:link {
    color: #c11b1d;
    font-size: 14px;
}

.pbalLink:visited {
    color: #c11b1d;
    font-size: 14px;
}

.pbalLink:hover {
    color: #c11b1d;
    text-decoration: underline;
    font-size: 14px;
}

.pbalLink:active {
    color: #c11b1d;    
    font-size: 14px;
}

.albumPanel {
    overflow: auto;
    min-width: 150px;
    min-height: 100px;
    max-width: 800px;
    max-height: 300px
}

#zipMsg .rf-msg-det {
    text-align: right;
    padding-right: 4%;
}

#uploadInjury_content_scroller {
    overflow: hidden;
}

.profile{
    width:100px;
    height:100px;
    text-align: center;
    border: 1px solid #9e9e9e;
    padding: 5px;
}

.profile:hover{
    width:100px;
    height:100px;
    border: 1px solid #c11b1d;
    background: seashell;
}

.userinfo{
    padding:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: white url(../images/details-bg.jpg);
    background-repeat:repeat-x;
    background-position:left bottom;
    border: 1px solid #a0a0a0;
    margin-bottom: 15px;

}

.stopBtn {
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    border: none;
    background-color: white;
    margin-top: 40px;
    margin-left: 250px;
    cursor: pointer;
    position: absolute;
}